.desktop-display {
  display: flex;
  justify-content: space-around; }
  .desktop-display .room-display {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    width: 50vw; }
    .desktop-display .room-display .empty {
      border-width: 3px;
      border-radius: 8px;
      border: dotted;
      background: #1A2126; }
    .desktop-display .room-display .filled {
      border-width: 3px;
      border-radius: 8px;
      padding-top: 20px;
      color: #fff;
      border: double #5BBD75;
      background: #1A2126; }
      .desktop-display .room-display .filled .room-list {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 20px;
        animation: Chips .2s ease-in-out; }
        .desktop-display .room-display .filled .room-list .room-icon {
          cursor: pointer;
          margin-right: 30px; }
        .desktop-display .room-display .filled .room-list .warm {
          background: #EE7752;
          color: #fff; }
        .desktop-display .room-display .filled .room-list .cool {
          background: #23A6D5;
          color: #fff; }
        .desktop-display .room-display .filled .room-list .match {
          background: #5BBD75;
          color: #fff; }
        .desktop-display .room-display .filled .room-list .edit-icon {
          margin-left: 5px; }
        .desktop-display .room-display .filled .room-list .delete-icon {
          cursor: pointer;
          margin-left: 10px;
          margin-bottom: -10px; }
        .desktop-display .room-display .filled .room-list .delete-icon:hover {
          color: #E73C7E; }

@keyframes Chips {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }
    .desktop-display .room-display .add-new {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 20px; }
      .desktop-display .room-display .add-new .add-button {
        background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
        background-size: 400% 400%;
        animation: Gradient 10s ease infinite;
        color: #fff; }

@keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
      .desktop-display .room-display .add-new .house-icon {
        margin-right: 10px; }
      .desktop-display .room-display .add-new .func-icon {
        margin-left: 10px; }
  .desktop-display .data-display {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    flex-direction: column; }
    .desktop-display .data-display .temp-display {
      display: flex; }
      .desktop-display .data-display .temp-display .temperature {
        border: thick double #5BBD75;
        width: 100px;
        height: 100px;
        font-size: 55px;
        color: #fff;
        background: radial-gradient(#23D5AB, #5BBD75);
        background-size: 400% 400%;
        animation: Gradient 5s ease infinite; }

@keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
      .desktop-display .data-display .temp-display .temp-control {
        display: flex;
        flex-direction: column;
        margin-top: 5px; }
    .desktop-display .data-display .energy-display {
      margin-top: 30vh;
      margin-left: -10px;
      width: 125px;
      color: #fff;
      border: 2px solid #b077bc;
      border-radius: 8px;
      text-align: center;
      padding: 10px;
      font-size: 20px; }
      .desktop-display .data-display .energy-display .energy-icon {
        margin-bottom: -7px;
        color: #b077bc; }
