.desktopDisplay {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center; }
  .desktopDisplay fieldset {
    border-width: 3px;
    border-radius: 8px; }
    .desktopDisplay fieldset .empty {
      margin-right: 10px; }
