.desktop-display {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center; }
  .desktop-display fieldset {
    border-width: 3px;
    border-radius: 8px;
    padding-top: 20px; }
    .desktop-display fieldset .room-list {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 20px; }
      .desktop-display fieldset .room-list .edit-icon {
        margin-left: 5px; }
  .desktop-display .add-new {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px; }
  .desktop-display .house-icon {
    margin-right: 10px; }
  .desktop-display .func-icon {
    margin-left: 10px; }
