.desktopDisplay {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  fieldset {
    border-width: 3px;
    border-radius: 8px;
    .roomList {
      margin-top: 20px;
    }
    .empty {
      margin-right: 10px;
    }
  }
}